.nav{
    height:30px;
    background: rgba(195, 133, 224, 0.24);
    margin-top: 20px;
}
.wrap{
    width:1000px;
    margin: 0px auto;
}
.nav_ull,.nav_ul li{
    float: left;
}
.nav_ull li{
    float: left;
    line-height: 30px;
    margin-right: 20px;
}
.nav_ull a{
    font-size: 12px;
    color: #4599e7;
}
.nav_ul{
    float: right;
}
.nav_ul li, nav_ul span{
    height: 30px;
    margin-left:10px;
}
.search{
    margin-top:  62px;
    margin-left: 100px;
    clear: both;
    float: left;
}